body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #ffffff;
}

.game-library {
    text-align: center;
}

.game-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: #8B0000; /* Dark red */
    color: #ffffff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    transition: background-color 0.3s, transform 0.1s;
}

button:hover {
    background-color: #A52A2A; /* Lighter dark red */
}

button:active {
    transform: scale(0.95);
}
